/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-typography {
    background: -webkit-linear-gradient(to right, #121212, #181818);
    background: linear-gradient(to right, #1f1f1f, #181818);
}

.card-body {
    background: -webkit-linear-gradient(to right, #121212, #181818);
    background: linear-gradient(to right, #121212, #181818);
}


.size25 {
    font-size: 10px;
    background-color: rgb(255, 0, 0);
}

.gray {
    background: -webkit-linear-gradient(to right, #414141, #424242);
    background: linear-gradient(to right, #616161, #181818);    
    border-radius: 50%;

}

.mat-form-field-wrapper {
    margin-left: 480px;
}
.mat-form-field {
    margin-right: 20px;
}
